<div class="flex items-center justify-center gap-5 py-5">
  <h1 class="md:text-xl font-mono">{{title}}</h1>
  <button class="p-2 bg-gray-50 text-black font-mono uppercase" (click)="changeTitle()">Cambiar</button>
</div>
<nav>
  <ul class="flex items-center justify-around">
    <a class="p-2 w-1/2 font-mono hover:bg-white hover:text-black" routerLink="/products">
      <li class="text-center">
        Products
      </li>
    </a>
    <a class="p-2 w-1/2 font-mono hover:bg-white hover:text-black" routerLink="/contact">
      <li class="text-center">
        Contacto
      </li>
    </a>
  </ul>
</nav>

<router-outlet></router-outlet>
